<div class="test">
  <div class="centered">
      <div>Процент правильных ответов: {{ rightAnswers/allAnswers * 100 | number: '1.1' }}%</div>
      <div>Выберите правильное слово: {{ russianWord }}</div>
    <form class="form" [formGroup]="form">
      <mat-radio-group formControlName="answer">
        <mat-radio-button
          class="radio"
          *ngFor="let answer of answers; let i = index"
          [ngClass]="{ 'right-answer': deuchWord === answer && isAnswered }"
          value="{{ answer }}"
        >
          {{ answer }}
        </mat-radio-button>
      </mat-radio-group>
      <button *ngIf="!isAnswered" mat-raised-button (click)="submit()">Ответить</button>
      <button *ngIf="isAnswered" mat-raised-button (click)="continue()">Дальше</button>
    </form>
  </div>
</div>
